[submodule "siftrem"]
	path = juju4.siftrem
	url = git@github.com:juju4/ansible-siftrem.git
[submodule "adduser"]
	path = juju4.adduser
	url = git@github.com:juju4/ansible-adduser.git
[submodule "sysdigcapture"]
	path = juju4.sysdigcapture
	url = git@github.com:juju4/ansible-sysdigcapture.git
[submodule "sketchy"]
	path = juju4.sketchy
	url = git@github.com:juju4/ansible-sketchy.git
[submodule "scumblr"]
	path = juju4.scumblr
	url = git@github.com:juju4/ansible-scumblr.git
[submodule "memcapture"]
	path = juju4.memcapture
	url = git@github.com:juju4/ansible-memcapture.git
[submodule "loki"]
	path = juju4.loki
	url = git@github.com:juju4/ansible-loki.git
[submodule "fastir"]
	path = juju4.fastir
	url = git@github.com:juju4/ansible-fastir.git
[submodule "mig"]
	path = juju4.mig
	url = git@github.com:juju4/ansible-mig.git
[submodule "mhn"]
	path = juju4.mhn
	url = git@github.com:juju4/ansible-mhn.git
[submodule "grr"]
	path = juju4.grr
	url = git@github.com:juju4/ansible-grr.git
[submodule "gpgkey_generate"]
	path = juju4.gpgkey_generate
	url = https://github.com/juju4/ansible-gpgkey_generate.git
[submodule "icinga2"]
	path = juju4.icinga2
	url = git@github.com:juju4/ansible-icinga2.git
[submodule "syslogclient"]
	path = juju4.syslogclient
	url = git@github.com:juju4/ansible-syslogclient.git
[submodule "ntpclient"]
	path = juju4.ntpclient
	url = git@github.com:juju4/ansible-ntpclient.git
[submodule "smokeping"]
	path = juju4.smokeping
	url = git@github.com:juju4/ansible-smokeping.git
[submodule "flamegraph"]
	path = juju4.flamegraph
	url = git@github.com:juju4/ansible-flamegraph.git
[submodule "vortessence"]
	path = juju4.vortessence
	url = git@github.com:juju4/ansible-vortessence.git
[submodule "cis-ubuntu-ansible"]
	path = cis-ubuntu-ansible
	url = git@github.com:juju4/cis-ubuntu-ansible.git
[submodule "cis-rhel-ansible"]
	path = cis-rhel-ansible
	url = git@github.com:juju4/cis-rhel-ansible.git
[submodule "bakhti.elk"]
	path = bakhti.elk
	url = git@github.com:juju4/ansible-elk.git
[submodule "dj-wasabi.ossec-agent"]
	path = dj-wasabi.ossec-agent
	url = git@github.com:juju4/ansible-ossec-agent.git
[submodule "dj-wasabi.ossec-server"]
	path = dj-wasabi.ossec-server
	url = git@github.com:juju4/ansible-ossec-server.git
[submodule "monclient"]
	path = juju4.monclient
	url = git@github.com:juju4/ansible-monclient.git
[submodule "swap"]
	path = juju4.swap
	url = git@github.com:juju4/ansible-swap.git
[submodule "openvpnclient"]
	path = juju4.openvpnclient
	url = git@github.com:juju4/ansible-openvpnclient.git
[submodule "ooniprobe"]
	path = juju4.ooniprobe
	url = git@github.com:juju4/ansible-ooniprobe.git
[submodule "squid"]
	path = juju4.squid
	url = git@github.com:juju4/ansible-squid.git
[submodule "smarthostclient"]
	path = juju4.smarthostclient
	url = git@github.com:juju4/ansible-smarthostclient.git
[submodule "harden-webserver"]
	path = juju4.harden-webserver
	url = git@github.com:juju4/ansible-harden-webserver.git
[submodule "maxmind"]
	path = juju4.maxmind
	url = git@github.com:juju4/ansible-maxmind.git
[submodule "harden"]
	path = juju4.harden
	url = git@github.com:juju4/ansible-harden.git
[submodule "ossecwui"]
	path = juju4.ossecwui
	url = git@github.com:juju4/ansible-ossecwui.git
[submodule "observium"]
	path = juju4.observium
	url = git@github.com:juju4/ansible-observium.git
[submodule "MISP"]
	path = juju4.MISP
	url = git@github.com:juju4/ansible-MISP.git
[submodule "remnux"]
	path = juju4.remnux
	url = git@github.com:juju4/ansible-remnux.git
[submodule "sift"]
	path = juju4.sift
	url = git@github.com:juju4/ansible-sift.git
[submodule "upgrade-pkgs"]
	path = juju4.upgrade-pkgs
	url = git@github.com:juju4/ansible-upgrade-pkgs.git
[submodule "Mayeu.RabbitMQ"]
	path = Mayeu.RabbitMQ
	url = git@github.com:juju4/ansible-playbook-rabbitmq.git
[submodule "geerlingguy.java"]
	path = geerlingguy.java
	url = git@github.com:juju4/ansible-role-java.git
[submodule "geerlingguy.nginx"]
	path = geerlingguy.nginx
	url = git@github.com:juju4/ansible-role-nginx.git
[submodule "geerlingguy.jenkins"]
	path = geerlingguy.jenkins
	url = git@github.com:juju4/ansible-role-jenkins.git
[submodule "brianshumate.hubot"]
	path = brianshumate.hubot
	url = git@github.com:juju4/ansible-hubot.git
[submodule "kbrebanov.osquery"]
	path = kbrebanov.osquery
	url = git@github.com:juju4/ansible-osquery.git
[submodule "Stouts.openvpn"]
	path = Stouts.openvpn
	url = git@github.com:juju4/Stouts.openvpn.git
[submodule "zzet.rbenv"]
	path = zzet.rbenv
	url = git@github.com:juju4/ansible-rbenv-role.git
[submodule "jdauphant.unbound"]
	path = jdauphant.unbound
	url = git@github.com:juju4/ansible-role-unbound.git
[submodule "juju4.icinga2"]
	path = juju4.icinga2
	url = https://github.com/juju4/ansible-icinga2.git
[submodule "juju4.smokeping"]
	path = juju4.smokeping
	url = https://github.com/juju4/ansible-smokeping.git
[submodule "juju4.upgrade-pkgs"]
	path = juju4.upgrade-pkgs
	url = https://github.com/juju4/ansible-upgrade-pkgs.git
[submodule "juju4.upgrade-pkgs-pip"]
	path = juju4.upgrade-pkgs-pip
	url = https://github.com/juju4/ansible-upgrade-pkgs-pip.git
[submodule "juju4.upgrade-pkgs-gem"]
	path = juju4.upgrade-pkgs-gem
	url = https://github.com/juju4/ansible-upgrade-pkgs-gem.git
[submodule "juju4.nrpeclient"]
	path = juju4.nrpeclient
	url = git@github.com:juju4/ansible-nrpeclient.git
[submodule "juju4.snmpd"]
	path = juju4.snmpd
	url = https://github.com/juju4/ansible-snmpd.git
[submodule "juju4.auditd"]
	path = juju4.auditd
	url = https://github.com/juju4/ansible-auditd.git
[submodule "juju4.harden-windows"]
	path = juju4.harden-windows
	url = git@github.com:juju4/ansible-harden-windows.git
[submodule "juju4.harden-sysctl"]
	path = juju4.harden-sysctl
	url = git@github.com:juju4/ansible-harden-sysctl.git
[submodule "juju4.ipv6"]
	path = juju4.ipv6
	url = git@github.com:juju4/ansible-ipv6.git
[submodule "juju4.mhnclient"]
	path = juju4.mhnclient
	url = git@github.com:juju4/ansible-mhnclient.git
[submodule "juju4.golang"]
	path = juju4.golang
	url = git@github.com:juju4/ansible-golang.git
[submodule "juju4.rekall"]
	path = juju4.rekall
	url = git@github.com:juju4/ansible-rekall.git
[submodule "juju4.jenkinsenv"]
	path = juju4.jenkinsenv
	url = git@github.com:juju4/ansible-jenkinsenv.git
[submodule "juju4.lxd"]
	path = juju4.lxd
	url = git@github.com:juju4/ansible-lxd.git
[submodule "juju4.lxdconfigure"]
	path = juju4.lxdconfigure
	url = git@github.com:juju4/ansible-lxdconfigure.git
[submodule "juju4.vivisect"]
	path = juju4.vivisect
	url = git@github.com:juju4/ansible-vivisect.git
[submodule "juju4.orchestrator"]
	path = juju4.orchestrator
	url = git@github.com:juju4/ansible-orchestrator.git
[submodule "juju4.macos-apps-install"]
	path = juju4.macos-apps-install
	url = git@github.com:juju4/ansible-macos-apps-install.git
[submodule "juju4.macos-sleepwatcher"]
	path = juju4.macos-sleepwatcher
	url = git@github.com:juju4/ansible-macos-sleepwatcher.git
[submodule "juju4.harden-nginx"]
	path = juju4.harden-nginx
	url = git@github.com:juju4/ansible-harden-nginx.git
[submodule "juju4.kitchen"]
	path = juju4.kitchen
	url = git@github.com:juju4/ansible-kitchen.git
[submodule "juju4.jenkins"]
	path = juju4.jenkins
	url = git@github.com:juju4/ansible-jenkins.git
[submodule "juju4.volatility"]
	path = juju4.volatility
	url = git@github.com:juju4/ansible-volatility.git
[submodule "juju4.zentral"]
	path = juju4.zentral
	url = git@github.com:juju4/ansible-zentral.git
[submodule "juju4.jenkinsslave"]
	path = juju4.jenkinsslave
	url = git@github.com:juju4/ansible-jenkinsslave.git
[submodule "juju4.vector"]
	path = juju4.vector
	url = git@github.com:juju4/ansible-vector.git
[submodule "juju4.ipt-netflow"]
	path = juju4.ipt-netflow
	url = git@github.com:juju4/ansible-ipt-netflow.git
[submodule "juju4.fprobe"]
	path = juju4.fprobe
	url = git@github.com:juju4/ansible-fprobe.git
[submodule "juju4.tlsh"]
	path = juju4.tlsh
	url = git@github.com:juju4/ansible-tlsh.git
[submodule "juju4.gift"]
	path = juju4.gift
	url = git@github.com:juju4/ansible-gift.git
[submodule "juju4.timesketch"]
	path = juju4.timesketch
	url = git@github.com:juju4/ansible-timesketch.git
[submodule "juju4.bind"]
	path = juju4.bind
	url = git@github.com:juju4/ansible-bind.git
[submodule "juju4.harden-mailserver"]
	path = juju4.harden-mailserver
	url = git@github.com:juju4/ansible-harden-mailserver.git
[submodule "juju4.redis-leveldb"]
	path = juju4.redis-leveldb
	url = git@github.com:juju4/ansible-redis-leveldb.git
[submodule "juju4.faup"]
	path = juju4.faup
	url = git@github.com:juju4/ansible-faup.git
[submodule "juju4.ipsumdump"]
	path = juju4.ipsumdump
	url = git@github.com:juju4/ansible-ipsumdump.git
[submodule "juju4.falco"]
	path = juju4.falco
	url = git@github.com:juju4/ansible-falco.git
[submodule "juju4.pystemon"]
	path = juju4.pystemon
	url = git@github.com:juju4/ansible-pystemon.git
[submodule "juju4.up1"]
	path = juju4.up1
	url = git@github.com:juju4/ansible-up1.git
[submodule "noplanman.lufi"]
	path = noplanman.lufi
	url = git@github.com:juju4/ansible-lufi.git
[submodule "juju4.forensicator-fate"]
	path = juju4.forensicator-fate
	url = git@github.com:juju4/ansible-forensicator-fate.git
[submodule "geerlingguy.postgresql"]
	path = geerlingguy.postgresql
	url = git@github.com:juju4/ansible-role-postgresql.git
[submodule "cmprescott.xml"]
	path = cmprescott.xml
	url = https://github.com/cmprescott/ansible-xml.git
[submodule "juju4.floss"]
	path = juju4.floss
	url = git@github.com:juju4/ansible-floss.git
[submodule "juju4.kolide"]
	path = juju4.kolide
	url = git@github.com:juju4/ansible-kolide.git
[submodule "juju4.win-osquery"]
	path = juju4.win-osquery
	url = git@github.com:juju4/ansible-win-osquery.git
[submodule "juju4.win-eventlog"]
	path = juju4.win-eventlog
	url = git@github.com:juju4/ansible-win-eventlog.git
[submodule "juju4.caldera"]
	path = juju4.caldera
	url = git@github.com:juju4/ansible-caldera.git
[submodule "juju4.win-ad-monitor"]
	path = juju4.win-ad-monitor
	url = git@github.com:juju4/ansible-win-ad-monitor.git
[submodule "juju4.macos-yubikey"]
	path = juju4.macos-yubikey
	url = git@github.com:juju4/ansible-macos-yubikey.git
[submodule "juju4.win-powershell"]
	path = juju4.win-powershell
	url = git@github.com:juju4/ansible-win-powershell.git
[submodule "juju4.win-msoffice"]
	path = juju4.win-msoffice
	url = git@github.com:juju4/ansible-win-msoffice.git
[submodule "juju4.win-firewall"]
	path = juju4.win-firewall
	url = git@github.com:juju4/ansible-win-firewall.git
[submodule "juju4.win-services"]
	path = juju4.win-services
	url = git@github.com:juju4/ansible-win-services.git
[submodule "juju4.win-atomic-red-team"]
	path = juju4.win-atomic-red-team
	url = git@github.com:juju4/ansible-win-atomic-red-team.git
[submodule "juju4.win-sysmon"]
	path = juju4.win-sysmon
	url = git@github.com:juju4/ansible-win-sysmon.git
[submodule "juju4.win-aptsimulator"]
	path = juju4.win-aptsimulator
	url = git@github.com:juju4/ansible-win-aptsimulator.git
[submodule "juju4.redhat_epel"]
	path = juju4.redhat_epel
	url = git@github.com:juju4/ansible-redhat-epel.git
[submodule "juju4.ail_framework"]
	path = juju4.ail_framework
	url = git@github.com:juju4/ansible-ail-framework.git
[submodule "juju4.aptcacherngclient"]
	path = juju4.aptcacherngclient
	url = git@github.com:juju4/ansible-apt-cacher-ng-client.git
[submodule "juju4.broids"]
	path = juju4.broids
	url = git@github.com:juju4/ansible-bro-ids.git
[submodule "juju4.caldera_agent"]
	path = juju4.caldera_agent
	url = git@github.com:juju4/ansible-caldera-agent.git
[submodule "juju4.chrome_config"]
	path = juju4.chrome_config
	url = git@github.com:juju4/ansible-chrome-config.git
[submodule "juju4.cuckoo_sandbox"]
	path = juju4.cuckoo_sandbox
	url = git@github.com:juju4/ansible-cuckoo-sandbox.git
[submodule "juju4.dnscryptproxy"]
	path = juju4.dnscryptproxy
	url = git@github.com:juju4/ansible-dnscrypt-proxy.git
[submodule "juju4.firefox_config"]
	path = juju4.firefox_config
	url = git@github.com:juju4/ansible-firefox-config.git
[submodule "juju4.harden_apache"]
	path = juju4.harden_apache
	url = git@github.com:juju4/ansible-harden-apache.git
[submodule "juju4.harden_darwin"]
	path = juju4.harden_darwin
	url = git@github.com:juju4/ansible-harden-darwin.git
