[submodule "siftrem"]
	path = siftrem
	url = git@github.com:juju4/ansible-siftrem.git
[submodule "adduser"]
	path = adduser
	url = git@github.com:juju4/ansible-adduser.git
[submodule "sysdigcapture"]
	path = sysdigcapture
	url = git@github.com:juju4/ansible-sysdigcapture.git
[submodule "sketchy"]
	path = sketchy
	url = git@github.com:juju4/ansible-sketchy.git
[submodule "scumblr"]
	path = scumblr
	url = git@github.com:juju4/ansible-scumblr.git
[submodule "memcapture"]
	path = memcapture
	url = git@github.com:juju4/ansible-memcapture.git
[submodule "loki"]
	path = loki
	url = git@github.com:juju4/ansible-loki.git
[submodule "fastir"]
	path = fastir
	url = git@github.com:juju4/ansible-fastir.git
[submodule "Mayeu.RabbitMQ"]
	path = Mayeu.RabbitMQ
	url = git@github.com:juju4/ansible-playbook-rabbitmq.git
[submodule "mig"]
	path = mig
	url = git@github.com:juju4/ansible-mig.git
[submodule "mhn"]
	path = mhn
	url = git@github.com:juju4/ansible-mhn.git
[submodule "grr"]
	path = grr
	url = git@github.com:juju4/ansible-grr.git
[submodule "gpgkey_generate"]
	path = gpgkey_generate
	url = https://github.com/juju4/ansible-gpgkey_generate.git
[submodule "icinga2"]
	path = icinga2
	url = git@github.com:juju4/ansible-icinga2.git
[submodule "bro-ids"]
	path = bro-ids
	url = git@github.com:juju4/ansible-bro-ids.git
[submodule "syslogclient"]
	path = syslogclient
	url = git@github.com:juju4/ansible-syslogclient.git
[submodule "ntpclient"]
	path = ntpclient
	url = git@github.com:juju4/ansible-ntpclient.git
[submodule "smokeping"]
	path = smokeping
	url = git@github.com:juju4/ansible-smokeping.git
[submodule "flamegraph"]
	path = flamegraph
	url = git@github.com:juju4/ansible-flamegraph.git
[submodule "vortessence"]
	path = vortessence
	url = git@github.com:juju4/ansible-vortessence.git
[submodule "kbrebanov.osquery"]
	path = kbrebanov.osquery
	url = git@github.com:juju4/ansible-osquery.git
